.projects-section {
  text-align: center;
}

.l-flower {
  position: absolute;
  right: 0;
  width: 24rem;
  transition: 0.5s;
}

.r-flower {
  position: absolute;
  bottom: -35rem;
  left: 0;
  width: 19rem;
  transition: 0.5s;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  transition: 0.5s;
}

.title-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.25%;
  margin-left: 1.25%;
}

.project img {
  border-radius: 5%;
  width: 25rem;
  transition: 0.5s;
}

.links {
  margin-top: -5%;
}

.project-text {
  width: 25rem;
  transition: 0.5s;
}

.description {
  font-size: 1.075rem;
  margin-top: -2.5%;
  transition: 0.5s;
}

.title {
  font-size: 1.6rem;
  margin-top: -1%;
  margin-bottom: 2.5%;
}

.tech-list {
  font-size: 0.9rem;
}

@media screen and (max-width: 82.8em) {
  .l-flower {
    display: none;
    transition: 0.5s;
  }
  
  .r-flower {
    display: none;
    transition: 0.5s;
  }
}

@media screen and (max-width: 54.75em) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    transition: 0.5s;
  }
}

@media screen and (max-width: 28.125em) {
  .project img {
    width: 21.5rem;
    transition: 0.5s;
  }

  .project-text {
    width: 21.5rem;
    transition: 0.5s;
  }

  .description {
    font-size: 1.05rem;
    transition: 0.5s;
  }
}