.skills-section {
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-gap: 5%;
  justify-content: center;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7.5%;
}

.skill-container img {
  transition: 0.5s;
  width: 4.5rem;
}

.skill-container img:hover {
  opacity: 0.7;
  transition: 0.5s;
}

@media screen and (max-width: 48em) {
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 34em) {
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 18em) {
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}