.header {
  font-size: 3rem;
  margin-left: 1%;
}

.about {
  display: flex;
  align-items: center;
  margin-top: -3%;
  margin-left: 1%;
}

.about-text {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.15rem;
  margin-left: 2%;
  width: 35em;
}

.about a {
  color: #CA3D33;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

.about a:hover {
  color: #3E3431;
  transition: 0.4s;
}

.about img {
  border-radius: 50%;
  width: 18rem;
}