.about-section h1 {
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.about-text {
  font-size: 1.15rem;
  margin-left: 2%;
  width: 35em;
  transition: 0.5s;
}

.about img {
  border-radius: 50%;
  width: 18rem;
}

@media screen and (max-width: 56.25em) {
  .about-text {
    width: 25em;
    transition: 0.5s;
  }
}

@media screen and (max-width: 47em) {
  .about {
    flex-direction: column;
    transition: 0.5s;
  }
}

@media screen and (max-width: 30em) {
  .about-text {
    width: 20em;
    transition: 0.5s;
  }
}

@media screen and (max-width: 23.5em) {
  .about-text {
    width: 15em;
    transition: 0.5s;
  }
}