.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  margin-top: -2%;
}

.about-text {
  font-size: 1.15rem;
  margin-left: 2%;
  width: 35em;
}

.about a {
  color: #CA3D33;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

.about a:hover {
  color: #3E3431;
  transition: 0.4s;
}

.about img {
  border-radius: 50%;
  width: 18rem;
}

@media screen and (max-width: 59em) {
  .about-text {
    width: 30em;
  }
}

@media screen and (max-width: 52.5em) {
  .about-text {
    width: 25em;
  }
}

@media screen and (max-width: 47em) {
  .about {
    flex-direction: column;
  }
}

@media screen and (max-width: 30em) {
  .about-text {
    width: 20em;
  }
}

@media screen and (max-width: 23.5em) {
  .about-text {
    width: 15em;
  }
}