@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.name {
  font-size: 3rem;
  margin-left: 1%;
}

.engineer {
  // color: #D1674D;
  color: #CA3D33;
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
  font-size: 2.5rem;
  letter-spacing: 0.7rem!important;
  overflow: hidden;
  margin-top: -2%;
  border-right: 0.1rem solid #3E3431;
  white-space: nowrap;
  animation: typewriter 4s steps(42) 1s 1 normal both,
    blinkTextCursor 1s infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 19.75em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #3E3431;
  }
  to {
    border-right-color: transparent;
  }
}

.intro {
  font-size: 1.25rem;
  margin-top: -1%;
  margin-left: 1%;
  width: 25em;
}