.contact-section h1 {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1%;
  width: 25rem;
  transition: 0.5s;
}

.contact-text-container img {
  margin-right: 10%;
  width: 17rem;
  transition: 0.5s;
}

.contact-text {
  font-size: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: 0.1rem solid #CA3D33;
  border-radius: 0.35rem;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 2%;
  margin: 2%;
  width: 20rem;
}

textarea {
  height: 10rem;
}

.user-msg {
  color: #CA3D33;
  font-size: 1.5rem;
  text-align: center;
}

.user-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 56.25em) {
  .contact {
    flex-direction: column;
    margin-top: -5%;
    transition: 0.5s;
  }

  .contact-text-container {
    margin-right: 0;
    width: 21rem;
    transition: 0.5s;
  }

  .contact-text-container img {
    display: none;
    transition: 0.5s;
  }
}