.lacey-header {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.lacey-header img {
  width: 25rem;
  transition: 0.5s;
}

.lacey-obj {
  transition: 0.5s;
}

.lacey-header-img {
  border-radius: 5%;
  transition: 0.5s;
}

.lacey-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  transition: 0.5s;
}

.lacey-imgs img {
  border-radius: 5%;
  margin: 1%;
  width: 10rem;
  transition: 0.5s;
}

@media screen and (max-width: 56.25em) { 
  .lacey-header img {
    width: 18rem;
    transition: 0.5s;
  }
}

@media screen and (max-width: 36.75em) { 
  .lacey-header {
    flex-direction: column;
    transition: 0.5s;
  }
  .lacey-header-img {
    border-radius: 5%;
    margin-top: 5%;
    transition: 0.5s;
  }

  .lacey-obj {
    width: 30rem;
    transition: 0.5s;
  }

  .lacey-imgs {
    flex-direction: column;
    transition: 0.5s;
  }

  .lacey-imgs img {
    width: 18rem;
    transition: 0.5s;
  }
}