html {
  background: rgb(233, 233, 235);
  background: linear-gradient(90deg, rgba(233, 233, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(233, 233, 235, 1) 100%);
  color: #3E3431;
  font-family: Montserrat, sans-serif;
}

a {
  color: #CA3D33;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

a:hover {
  color: #3E3431;
  transition: 0.4s;
}

h1 {
  font-size: 3rem;
}

button {
  background-color: #CA3D33;
  border: 0.25rem solid #CA3D33;
  border-radius: 0.5rem;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1.75rem;
  transition: 0.5s;
}

button:hover {
  background-color: white;
  border: 0.25rem solid #CA3D33;
  color: #CA3D33;
  cursor: pointer;
  padding: 0.5rem 3rem;
  transition: 0.5s;
}
