/* use the colors from your linkedin, Tor! */

html {
  background-color: #ECEFF1;
  color: #263238;
  /* background-color: #263238;
  color: #ECEFF1; */
  font-family: Montserrat, sans-serif;
}

button {
  background-color: #ECEFF1;
  color: #263238;
  font-family: Montserrat, sans-serif;
}
