html {
  background: rgb(233, 233, 235);
  background: linear-gradient(90deg, rgba(233, 233, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(233, 233, 235, 1) 100%);
  color: #3E3431;
  font-family: Montserrat, sans-serif;
}

button {
  background-color: #ECEFF1;
  color: #263238;
  font-family: Montserrat, sans-serif;
}
