.navigation {
  /* border: 0.25em solid red; */
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-top: 1%;
  margin-bottom: 5%;
  /* width: 99vw; */
}

.links {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-left: 1%;
  word-spacing: 2rem;
}

.inactive {
  color: #CA3D33;
  padding: .25rem;
  margin: 2%;
  text-decoration: none;
  transition: 0.5s;
}

.inactive:hover {
  color: #3E3431;
}

.active {
  color: #3E3431;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1%;
  padding: 0.25%;
  width: 15rem;
}

.icons img {
  width: 2.5rem;
  transition: 0.5s;
}

.icons img:hover {
  width: 2.75rem;
  transition: 0.5s;
}