.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-top: 1%;
  margin-bottom: 5%;
}

.navigation-menu ul {
  display: flex;
  align-items: center;
}

.navigation-menu li {
  list-style-type: none;
  font-size: 1.25rem;
  padding: 0.25rem;
  margin: 0 1rem;
}

.inactive {
  color: #CA3D33;
  text-decoration: none;
  transition: 0.5s;
}

.inactive:hover {
  color: #3E3431;
}

.active {
  color: #3E3431;
}

.hamburger {
  display: none;
  height: 1rem;
  position: absolute;
  right: 4%;
  padding: 0.25%;
  transition: 0.5s;
}

.hamburger:hover {
  cursor: pointer;
  height: 1.25rem;
  transition: 0.5s;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  padding: 0.25%;
  width: 15rem;
}

.icons img {
  width: 2.5rem;
  transition: 0.5s;
}

.icons img:hover {
  width: 2.75rem;
  transition: 0.5s;
}

@media screen and (max-width: 56.25em) {
  .navigation-menu li {
    font-size: 1rem;
    margin: 0 0.35rem;
  }

  .icons {
    width: 10rem;
  }
  
  .icons img {
    width: 2rem;
    transition: 0.5s;
  }
  
  .icons img:hover {
    width: 2.25rem;
    transition: 0.5s;
  }
}

@media screen and (max-width: 36.75em) {
  .navigation-menu {
    margin-top: 5%;
    margin-right: 1%;
  }  
  
  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    display: none;
    text-align: right;
  }

  .navigation-menu li {
    font-size: 1rem;
    padding: 0.25rem;
    padding-right: 1rem;
    margin: 0;
  }

  .expanded ul {
    display: block;
  }

  .hamburger {
    display: block;
    transition: 0.5s;
  }
}